{% extends 'index.html' %} 
{% block title %}Tabla Productos{% endblock %} 
{%block main %}
<div class="container">
  <h1 class="text-center mt-5 mb-5">APP API-REST PYTHON FLASK-MONGODB</h1>
</div>
<div class="container">
  <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
    <div class="col-mb-6 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="text-center">Alta Producto</h5>
        </div>
        <div class="card-body">
          <form action="/productos" method="post">
            <label for="">Codigo:</label>
            <input type="text" class="form-control mb-3" name="codigo" />

            <label for="">Nombre:</label>
            <input type="text" class="form-control mb-3" name="nombre" />

            <label for="">Precio:</label>
            <input type="text" class="form-control mb-3" name="precio" />
            
            <label for="">Categoria:</label>
            <select name="categoria" id="categoria">
              {% for categoria in categoriaLista %}
              <option value="{{categoria['nombre']}}">{{categoria['nombre']}}</option>
              {% endfor %}
            </select> <br><br>
            <!-- <input type="text" class="form-control mb-3" name="categoria" /> -->

            <button class="btn btn-primary" type="submit" onclick="confirmarAccion()" >Guardar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text center">Productos</h5>
            </div>

            <div class="card-body">
                <ul class="list-group">
                    <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                        {% for producto in productos %}
                        
                            <div class="col">
                                <li class="list-group-item mb-3">
                                    <form action="/edit/{{producto.codigo}}" method="post">
                                        <input type="text" class="form-control" value="{{producto.codigo}}" name="codigo">

                                        <small>Codigo:</small>
                                        <input type="text" class="form-control" value="{{producto.nombre}}" name="nombre">

                                        <small>Precio:</small>
                                        <input type="text" class="form-control" value="{{producto.precio}}" name="precio">

                                        <small>Categoria:</small>
                                        <input type="text" class="form-control" value="{{producto.categoria}}" name="categoria">

                                        <button class="btn btn-primary btn-sm mt-3" type="submit" onclick="confirmarAccion()">Editar</button>
                                        <a href="{{url_for('delete',producto_nombre = producto.codigo)}}" class="btn btn-danger btn-sm mt-3" onclick="confirmarAccion()">Eliminar</a>

                                    </form>
                                </li>
                            </div>
                            
                        {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}
